@font-face {
    font-family: 'rdr_linoregular';
    src: url('rdrlino-regular-webfont.woff2') format('woff2'),
         url('rdrlino-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hapna_slab_serif_demiboldRg';
    src: url('hapnaslabserif-demibold-webfont.woff2') format('woff2'),
         url('hapnaslabserif-demibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'redemptionregular';
    src: url('redemption-webfont.woff2') format('woff2'),
         url('redemption-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}